<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Workstation_SampleModule::mastering" title="Workstation"
             module="Workstation_SampleModule" resource="Workstation_SampleModule::workstation"
             translate="title" sortOrder="900" action="workstation"/>
    </menu>
</config>
